VITE_SUPABASE_URL="https://oxcnsnqchmziedeoveoa.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94Y25zbnFjaG16aWVkZW92ZW9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyMjE3OTYsImV4cCI6MjA5Mjc5Nzc5Nn0.Fq_GPiDMzg0DaDfMuFOESLu0TTHwKOC8KvXp0UBOcp4"